@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
/* Principales */
:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
    --p-size: 15px;
    --a-size: 1rem;
}

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--off-white);
}

p {
    font-size: var(--p-size);
    color: var(--grayish-blue);
    font-weight: bold;
}

h2 {
    font-weight: 800;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Estilos barra de navegaci贸n   */
.navbar {
    display: flex;
    justify-content: space-between; 
    /* width: 90%; */
    margin: 0 auto;
    height: 100px;
    align-items: center;
}

.navbar section {
    display: block;
}

.navbar-logo {
    justify-content: flex-start;
    width: 25%;
}

.navbar-options {
    width: 70%;
    display: flex;
    justify-content: right;
}

.navbar-options-ul {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.navbar-options ul li {
    list-style: none;
    display: inline-flex;
    margin-left: 50px;
    /* min-width: 120px; */
    text-align: right
}

li a {
    display: block;
    text-decoration: none;
    color: var(--grayish-blue);
    font-weight: 800;
    font-size: var(--a-size)
}

.icon-menu {
    display: none;
    position: fixed;
    cursor: pointer;
}


/* Secciones  */

.main-section {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 30% 30% 30% 10%;
    gap: 20px;
    margin-bottom: 20px;
    grid-template-areas: 
    "l l l l n n"
    "l l l l n n"
    "l l l l n n"
    "f f f f f f";
    /* justify-content: start; */
}

/* Secci贸n principal */

.section-left {
    /* grid-column: 1 / 5;
    grid-row: 1 / 4; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 40%;
    gap: 10px;
    grid-area: l;
}


.image-main {
    max-height: 100%;
    background-image: url('./assets/images/image-web-3-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 450px; */
    grid-row: 1 / 2;
}

.section-subtitles {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 10px;
}

.subtitle-main {
    text-align: start;
}

.subtitle-main h2 {
    font-size: 3.5rem;
}

button {
    background-color: var(--soft-red);
    width: 250px;
    text-align: center;
    padding: 15px 0;
    color: var(--off-white);
    border: none;
    font-weight: bold;
    font-size: var(--p-size);
    margin-bottom: 10px;
    border-radius: 5px;
}

.section-subtitles article {}

.subtitle-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px;
}

.subtitle-info p {
    font-size: var(--p-size);
    line-height: 1.5;
}

/* News Page */
.news-page {
    grid-area: n;
    background-color: var(--very-dark-blue);
    color: var(--off-white);
    padding: 30px 30px;
    /* grid-column: 5 / 7;
    grid-row: 1 / 4; */
    display: grid;
    grid-template-rows: 10% 90%;
}

.news-page h2 {
    color: var(--soft-orange);
    font-size: 3rem;
    font-weight: bold;
    display: block;
}

.news-page-card {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
}

.news-page-card article {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--grayish-blue);
    justify-content: space-around;
    padding: 10px 5px;
}

.news-page-card article:last-child {
    border-bottom: none;
}

.news-page-card article h3 {
    font-size: 1.5rem;
    font-weight: bolder;
}

.news-page-card article p {
    font-size: var(--p-size);
    line-height: 2;
}

/* Footer News  */

.footer-news {
    grid-area: f;
    margin-top: 50px;
    /* grid-column: 1 / 7;
    grid-row: 4 / 5; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: space-around;
    gap: 10px;
}

.card-new {
    display: flex;
    gap: 20px;
}

.image-new {}

.image-new img {
    object-fit: cover;
    width: 120px;
}

.text-new {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 10px;
}

.text-new h2 {
    color: var(--grayish-blue);
    font-size: 3rem;
    display: inline-block;
    align-items: top;
}

.text-new h3 {
    color: var(--very-dark-blue);
    font-size: 1.5rem;
}

.text-new p {
    line-height: 1.5;
    font-size: var(--p-size);
}

/* ********************************
Configurar media queries
Pantallas de 1440 px
********************************* */

@media screen and (max-width: 1440px) {
    :root {
        /* --soft-orange: hsl(35, 77%, 62%);
        --soft-red: hsl(5, 85%, 63%);
        --off-white: hsl(36, 100%, 99%);
        --grayish-blue: hsl(233, 8%, 79%);
        --dark-grayish-blue: hsl(236, 13%, 42%);
        --very-dark-blue: hsl(240, 100%, 5%);*/
        --p-size: 15px;
        --a-size: 1em;
    }
    
    /* * {
        font-family: 'Inter', sans-serif;
        padding: 0;
        margin: 0;
    }
    
    body {
        background-color: var(--off-white);
    }
    
    p {
        font-size: var(--p-size);
        color: var(--grayish-blue);
        font-weight: bold;
    }
    
    h2 {
        font-weight: 800;
    }
    
    .container {
        width: 90%;
        margin: 0 auto;
    } */
    
    /* Estilos barra de navegaci贸n   */
    /* .navbar {
        display: flex;
        justify-content: space-between; 
        margin: 0 auto;
        height: 100px;
        align-items: center;
    }
    
    .navbar section {
        display: block;
    }
    
    .navbar-logo {
        justify-content: flex-start;
        width: 25%;
    }
    
    .navbar-options {
        width: 70%;
        display: flex;
        justify-content: right;
    }
    
    .navbar-options ul {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    
    .navbar-options ul li {
        list-style: none;
        display: inline-flex;
        margin-left: 50px;
        text-align: right
    }
    
    li a {
        display: block;
        text-decoration: none;
        color: var(--grayish-blue);
        font-weight: 700;
        font-size: var(--a-size)
    }
    
    .icon-menu {
        display: none;
        position: fixed;
        cursor: pointer;
    }
     */
    
    /* Secciones  */
    
    /* .main-section {
        width: 100%;
        height: 70vh;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 30% 30% 30% 10%;
        gap: 20px;
        margin-bottom: 20px;
    }
    
   
    .section-left {
        grid-column: 1 / 5;
        grid-row: 1 / 4;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60% 40%;
        gap: 10px;
    }
    
    
    .image-main {
        max-height: 100%;
        background-image: url('./assets/images/image-web-3-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        grid-row: 1 / 2;
    }
    
    .section-subtitles {
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 10px;
    }
    
    .subtitle-main {
        text-align: start;
    }
    
    .subtitle-main h2 {
        font-size: 3.5rem;
    }
    
    button {
        background-color: var(--soft-red);
        width: 300px;
        text-align: center;
        padding: 20px 0;
        color: var(--off-white);
        border: none;
        font-weight: bold;
        font-size: var(--p-size);
        margin-bottom: 25px;
    }
    
    .section-subtitles article {}
    
    .subtitle-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 15px;
    }
    
    .subtitle-info p {
        font-size: var(--p-size);
        line-height: 1.5;
    } */
    
    /* News Page */
    /* .news-page {
        background-color: var(--very-dark-blue);
        color: var(--off-white);
        padding: 30px 30px;
        grid-column: 5 / 7;
        grid-row: 1 / 4;
        display: grid;
        grid-template-rows: 10% 90%;
    }
    
    .news-page h2 {
        color: var(--soft-orange);
        font-size: 3rem;
        font-weight: bold;
        display: block;
    }
    
    .news-page-card {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-around;
    }
    
    .news-page-card article {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid var(--grayish-blue);
        justify-content: space-around;
        padding: 10px 5px;
    }
    
    .news-page-card article:last-child {
        border-bottom: none;
    }
    
    .news-page-card article h3 {
        font-size: 1.5rem;
        font-weight: bolder;
    }
    
    .news-page-card article p {
        font-size: var(--p-size);
        line-height: 2;
    } */
    
    /* Footer News  */
    
    /* .footer-news {
        margin-top: 50px;
        grid-column: 1 / 7;
        grid-row: 4 / 5;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        justify-content: space-around;
        gap: 10px;
    }
    
    .card-new {
        display: flex;
        gap: 20px;
    }
    
    .image-new {}
    
    .image-new img {
        object-fit: cover;
        width: 120px;
    }
    
    .text-new {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 10px;
    }
     */
    .text-new h2 {
        /* color: var(--grayish-blue); */
        font-size: 2.5rem;
        /* display: inline-block;
        align-items: top; */
    }
    
    .text-new h3 {
        /* color: var(--very-dark-blue); */
        font-size: 1.2rem;
    }
    
    .text-new p {
        line-height: 1.5;
        font-size: var(--p-size);
    }    
}

/* ********************************
Configurar media queries
Pantallas de 600 px
********************************* */

@media screen and (max-width: 700px) {
    :root {
        /* --soft-orange: hsl(35, 77%, 62%);
        --soft-red: hsl(5, 85%, 63%);
        --off-white: hsl(36, 100%, 99%);
        --grayish-blue: hsl(233, 8%, 79%);
        --dark-grayish-blue: hsl(236, 13%, 42%);
        --very-dark-blue: hsl(240, 100%, 5%);*/
        --p-size: 15px;
        --a-size: 1em;
    }
    
    .container {
        width: 100%;
        padding: 10px 10px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    
    /* Estilos barra de navegaci贸n   */
    /* .navbar {
        display: flex;
        justify-content: space-between; 
        margin: 0 auto;
        height: 100px;
        align-items: center;
    }
    
    .navbar section {
        display: block;
    }
    
    .navbar-logo {
        justify-content: flex-start;
        width: 25%;
    } */
    
    .navbar-options {
        /* width: 70%; */
        /* display: none; */
        /* justify-content: right; */
        position: relative;
    }

    .icon-menu {
        display: block;
        position: fixed;
        right: 50px;
        top: 45px;
        z-index: 100;
        /* cursor: pointer; */
    }
    

    .navbar-options-ul {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        color: var(--very-dark-blue);
        top: 0;
        right: -100%;
        z-index: 50;
        height: 100vh;
        width: 350px;
        background-color: var(--off-white);
    }

    .navbar-options-ul-show {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        color: var(--very-dark-blue);
        /* flex-direction: row; */
        top: 0;
        right: 0%;
        z-index: 50;
        height: 100vh;
        width: 350px;
        background-color: var(--off-white);
        /* transition: right 5s ease-in; */
    }

    .navbar-options ul li {
        list-style: none;
        display: inline-flex;
        margin-left: 0px;
        text-align: right
    }
    
    li a {
        color: var(--dark-grayish-blue);
        font-size: var(--a-size)
    }
    
    
    /* Secciones  */
    
    .main-section {
        /* width: 100%; */
        height: auto;
        /* display: grid;
        grid-template-columns: auto;*/
        grid-template-rows: auto;
        grid-template-areas: 
            "l l l l l l"
            "n n n n n n"
            "f f f f f f";
        /* gap: 20px;
        margin-bottom: 20px; */
    }
    
   
    .section-left {
        /* grid-column: 1 / -1;
        grid-row: auto; */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px;
    }
    
    
    .image-main {
        min-height: 400px;
        background-image: url('./assets/images/image-web-3-mobile.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        /* grid-row: auto; */
    }
    
    .section-subtitles {
        grid-row: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    
    .subtitle-main {
        text-align: start;
    }
    
    .subtitle-main h2 {
        font-size: 3.5rem;
    }
    
    button {
        /* background-color: var(--soft-red); */
        width: 200px;
        margin-top: 25px;
        /* text-align: center;
        padding: 20px 0;
        color: var(--off-white);
        border: none;
        font-weight: bold;
        font-size: var(--p-size);
        margin-bottom: 25px; */
    }
    
    .section-subtitles article {}
    
    .subtitle-info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 15px 15px;
    }
    
    .subtitle-info p {
        font-size: var(--p-size);
        line-height: 1.5;
    }
    
    /* News Page */
    .news-page {
        /* background-color: var(--very-dark-blue);
        color: var(--off-white);
        padding: 30px 30px; */
        grid-column: 1 / -1;
        grid-row: auto;
        display: grid;
        grid-template-rows: auto;
    }
    
    .news-page h2 {
        color: var(--soft-orange);
        font-size: 3rem;
        font-weight: bold;
        display: block;
    }
    
    .news-page-card {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-around;
    }
    
    .news-page-card article {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid var(--grayish-blue);
        justify-content: space-around;
        padding: 10px 5px;
    }
    
    .news-page-card article:last-child {
        border-bottom: none;
    }
    
    .news-page-card article h3 {
        font-size: 1.5rem;
        font-weight: bolder;
    }
    
    .news-page-card article p {
        font-size: var(--p-size);
        line-height: 2;
    }
    
    /* Footer News  */
    
    .footer-news {
        margin-top: 10px;
        grid-column: 1 / -1;
        grid-row: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        justify-content: space-around;
        gap: 10px;
    }
    
    .card-new {
        display: flex;
        gap: 20px;
    }
    
    .image-new {}
    
    .image-new img {
        object-fit: cover;
        width: 120px;
    }
    
    .text-new {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 10px;
    }
    
    .text-new h2 {
        /* color: var(--grayish-blue); */
        font-size: 2.5rem;
        /* display: inline-block;
        align-items: top; */
    }
    
    .text-new h3 {
        /* color: var(--very-dark-blue); */
        font-size: 1.2rem;
    }
    
    .text-new p {
        line-height: 1.5;
        font-size: var(--p-size);
    }    
}

